<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">crossover_pwd</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/cross</property>
		<property name="hibernate.connection.username">crossover_user</property>
		<property name="hibernate.default_schema">cross</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		
		<mapping resource="com/dev/persistence/model/Product.hbm.xml" />
		<mapping resource="com/dev/persistence/model/Customer.hbm.xml" />
		<mapping resource="com/dev/persistence/model/OrderLine.hbm.xml" />
		<mapping resource="com/dev/persistence/model/SalesOrder.hbm.xml" />
	</session-factory>
</hibernate-configuration>
